<!DOCTYPE html>
<html lang="en">
	{% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
    </head>
    <body>
        <header>
            <img src="{% static 'images/logo.png' %}" alt="logo" width="150px">
        </header>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="wrap d-md-flex">
                            <div class="text-wrap p-4 p-lg-5 d-flex login-img">
                                <div class="text w-100" style="object-fit: cover; overflow: hidden; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                   <img src="{% static 'images\ai-generated-8703672_1280.jpg' %}">
                                </div>
                            </div>
                            <div class="login-wrap p-4 p-md-5">
                                <div class="row justify-content-center py-md-5">
                                    <div class="col-lg-9">
                                        <div class="social-wrap">
                                            
                                           
                                        </div>
                                        <form action="#" method="post" class="signup-form">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="email">E-mail</label>
                                                        {{ form.email }}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="password">Senha</label>
                                                        {{ form.password }}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Entrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="w-100">
                                            <p class="mt-4">Não tem cadastro ainda? <a href="{% url 'accounts:signup' %}">Cadastrar</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'base/js.html' %}
    </body>
</html>
