<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
</head>

<body>
    <section class="ftco-section">
        <div class="img-holder">
            <img class="login-img" src="{% static 'images\ai-generated-8703672_1280.jpg' %}"></img>
        </div>
        <div class="container">
            <h3><strong>Entre na sua conta</strong></h3>
            <p>Acesse o melhor portal do Brasil</p>

            <div class="login-register-holder-changer">
                <a class="loginactive">Login</a>
                <a class="registerinactive">Cadastro</a>
            </div>

            <form action="#" method="post" class="signup-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="w-100">
                <p>Não tem cadastro ainda? <a href="{% url 'accounts:signup' %}">Cadastrar</a></p>
            </div>
        </div>
    </section>
    {% include 'base/js.html' %}
</body>

</html>