<!DOCTYPE html>
<html lang="en">
	{% load static %}
    <head>
        <title>Sign Up | Event Calendar</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
    </head>
    <body>

        <section class="ftco-section">
            <div class="img-holder">
                <img class="login-img" src="{% static 'images\ai-generated-8703672_1280.jpg' %}"></img>
            </div>
            <div class="container">
                <h3><strong>Crie a sua conta</strong></h3>
                <p>Acesse o melhor portal do Brasil</p>
    
                <div class="login-register-holder-changer">
                    <a class="logininactive">Login</a>
                    <a class="registeractive">Cadastro</a>
                </div>
    
                <form action="#" method="post" class="signup-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.email }}
                                <span class="text-danger">{{ form.errors.email }}</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.password1 }}
                                <span class="text-danger">{{ form.errors.password1 }}</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.password2 }}
                                <span class="text-danger">{{ form.errors.password2 }}</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="w-100">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Eu concordo com todos os termos de serviço.
                                        <input type="checkbox" checked />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Finalizar cadastro</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="w-100">
                    <p>Já tem uma conta? <a href="{% url 'accounts:signup' %}">Login</a></p>
                </div>
            </div>
        </section>
        {% include 'base/js.html' %}
    </body>
</html>
