{% extends 'base/base.html' %}
{% load static %}
{% block title %}Calendário{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
  
<style>
    #calendar {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
    }

    .fc-event {
        background-color: #4D933E !important;
        color: white;
        border-radius: 5px;
        padding: 10px;
        margin: 5px 0;
        transition: transform 0.2s;
    }

    .fc-event:hover {
        transform: scale(1.05);
    }

    .fc-event h5 {
        font-size: 1.2em;
        margin: 0;
    }

    .fc-event p {
        margin: 5px 0;
    }

    .coluna-ongoing {
        background-color: #F2F7F2;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-height: 45.5rem;
        overflow-y: scroll;
    }

    .modal-header {
        background-color: #4D933E !important;
    }

    .modal-title {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #8f8f8f;
        border-color: #858585;
    }

    .save-btn{
        background-color:#4D933E;
        border-color: #096d10;
    }

    .save-btn:hover{
        background-color: #2c5f20 !important;
        border-color: #00570d !important;
    }

    .btn-primary:hover {
        background-color: #515151;
    }
</style>
{% endblock extracss %}

{% block breadcrumb %}
  <h1><i class="fa fa-calendar"></i> Calendário</h1>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="coluna-ongoing col-md-3">
        <h4 class="mb-4">Eventos em andamento</h4>
        {% for event in events_month %}
          <div class="fc-event" data-event-id="{{ event.id }}">
              <h4>{{ event.title }}</h4>
              <p><strong>Tipo: </strong>{{ event.type }}</p>
              <p><strong>Cultura: </strong>{{ event.cultura }}</p>  {# Exibindo o campo cultura aqui #}
              <p><strong>Local: </strong>{{ event.local }}</p>
              <p><strong>Descrição: </strong>{{ event.description }}</p>
              <p><strong>Data Início: </strong>{{ event.start_time|date:"d \d\e F \d\e Y" }}</p> 
              <p><strong>Data Fim: </strong>{{ event.end_time|date:"d \d\e F \d\e Y" }}</p> 
              <p><strong>Duração: </strong>{{ event.duration }}</p> {# Exibindo a duração aqui #}
          </div>
        {% empty %}
          <p>Nenhuma cultura em andamento</p>
        {% endfor %}
    </div>
    <div class="col-md-9">
        <div id="calendar"></div>
    </div>

    <!-- Modal para Adicionar Plantação -->
    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Adicionar Plantação</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <form method="post" id="eventForm">
                    {% csrf_token %}
                    <input type="hidden" id="id_event_id" name="event_id">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Evento:</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group">
                            <label>Tipo:</label>
                            {{ form.type }}
                        </div>
                        <div class="form-group">
                            <label>Cultura:</label>
                            {{ form.cultura }}
                        </div>
                        <div class="form-group">
                            <label>Local:</label>
                            {{ form.local }}
                        </div>
                        <div class="form-group">
                            <label>Descrição:</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group">
                            <label>Início:</label>
                            {{ form.start_time }}
                        </div>
                        <div class="form-group">
                            <label>Fim:</label>
                            {{ form.end_time }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary save-btn">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <!-- Modal para Detalhes do Evento -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="title_event_detail"></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Tipo:</strong> <span id="type_event_detail"></span></p>
                    <p><strong>Cultura:</strong> <span id="cultura_event_detail"></span></p>
                    <p><strong>Local:</strong> <span id="local_event_detail"></span></p>
                    <p><strong>Descrição:</strong> <span id="description_event_detail"></span></p>
                    <p><strong>Data Início:</strong> <span id="start_event_detail"></span></p>
                    <p><strong>Data Fim:</strong> <span id="end_event_detail"></span></p>
                    <p><strong>Duração:</strong> <span id="duration_readable_event_detail"></span></p>
                </div>
                <div class="modal-footer">
                    <button id="edit-event-button" data-event-id="" type="button" class="btn btn-primary">Editar</button>
                    <button id="delete-event-button" data-event-id="" type="button" class="btn btn-danger">Apagar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal para recomendação de colheita -->
    <div class="modal fade" id="recommendationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Recomendação de Colheita</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Sugestão: Avalie a colheita para este período.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}

{% block extrascripts %}
<script src="{% static 'calender/main.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'pt-br',
            headerToolbar: { 
                left: 'prev,next today', 
                center: 'title', 
                right: 'dayGridMonth,list' 
            },
            buttonText: {
                today: 'Hoje',
                month: 'Mês',
                list: 'Tarefas do dia'
            },
            initialDate: new Date(),
            navLinks: true,
            selectable: true,
            select: function(arg) {
                document.getElementById('id_start_time').value = converterDataParaDjangoFormat(arg.start);
                document.getElementById('id_end_time').value = converterDataParaDjangoFormat(arg.end);
                $('#eventModal').modal('show');
                calendar.unselect();
            },
            eventClick: function(arg) {
                document.getElementById('title_event_detail').textContent = arg.event.title;
                document.getElementById('description_event_detail').textContent = arg.event.extendedProps.description || '';
                document.getElementById('start_event_detail').textContent = formatDateTime(arg.event.start);
                document.getElementById('end_event_detail').textContent = formatDateTime(arg.event.end);
                document.getElementById('type_event_detail').textContent = arg.event.extendedProps.type || 'Sem tipo';
                document.getElementById('local_event_detail').textContent = arg.event.extendedProps.local || 'Sem local';
                document.getElementById('cultura_event_detail').textContent = arg.event.extendedProps.cultura || 'Sem cultura'; 
                document.getElementById('duration_readable_event_detail').textContent = arg.event.extendedProps.duration_readable || 'Duração não disponível'; 
                document.getElementById('edit-event-button').setAttribute("data-event-id", arg.event.id);
                document.getElementById('delete-event-button').setAttribute("data-event-id", arg.event.id);
                $('#detailModal').modal('show');
            },
            editable: false,
            dayMaxEvents: true,
            events: {{ events|safe }},
            eventDidMount: function(info) {
                var eventType = info.event.extendedProps.type;

                // Adiciona uma classe CSS baseada no tipo de evento
                if (eventType) {
                    info.el.classList.add(eventType);
                }
            }
        });

        calendar.render();

        // Captura o evento de 'submit' do formulário para criação do evento
        document.getElementById('eventForm').addEventListener('submit', function(event) {
            const eventType = document.getElementById('id_type').value;

            // Verifica se o evento sendo criado é do tipo "Plantio" antes de enviar o formulário
            if (eventType === "Plantio") {
                event.preventDefault(); // Impede o envio imediato do formulário

                // Fecha o modal de criação de evento e, quando fechado, abre o modal de recomendação
                $('#eventModal').modal('hide');

                $('#eventModal').on('hidden.bs.modal', function() {
                    $('#recommendationModal').modal('show'); // Abre o modal de recomendação de colheita
                });

                // Submete o formulário quando o modal de recomendação de colheita for fechado
                $('#recommendationModal').on('hidden.bs.modal', function() {
                    document.getElementById('eventForm').submit(); // Envia o formulário
                });
            }
        });

        document.querySelector('.coluna-ongoing').addEventListener('click', function(event) {
            if (event.target.closest('.fc-event')) {
                const eventElement = event.target.closest('.fc-event');
                const eventId = eventElement.getAttribute('data-event-id');
                const eventData = calendar.getEventById(eventId);

                if (eventData) {
                    document.getElementById('title_event_detail').textContent = eventData.title;
                    document.getElementById('description_event_detail').textContent = eventData.extendedProps.description || '';
                    document.getElementById('start_event_detail').textContent = formatDateTime(eventData.start);
                    document.getElementById('end_event_detail').textContent = formatDateTime(eventData.end);
                    document.getElementById('type_event_detail').textContent = eventData.extendedProps.type || 'Sem tipo';
                    document.getElementById('local_event_detail').textContent = eventData.extendedProps.local || 'Sem local';
                    document.getElementById('cultura_event_detail').textContent = eventData.extendedProps.cultura || 'Sem cultura';
                    document.getElementById('duration_readable_event_detail').textContent = eventData.extendedProps.duration_readable || 'Duração não disponível';
                    document.getElementById('edit-event-button').setAttribute("data-event-id", eventId);
                    document.getElementById('delete-event-button').setAttribute("data-event-id", eventId);
                    $('#detailModal').modal('show');
                }
            }
        });

        document.getElementById('edit-event-button').addEventListener('click', function() {
            const eventId = this.getAttribute('data-event-id');

            document.getElementById('id_title').value = document.getElementById('title_event_detail').textContent;
            document.getElementById('id_type').value = document.getElementById('type_event_detail').textContent;
            document.getElementById('id_cultura').value = document.getElementById('cultura_event_detail').textContent;
            document.getElementById('id_local').value = document.getElementById('local_event_detail').textContent;
            document.getElementById('id_description').value = document.getElementById('description_event_detail').textContent;

            let startDateStr = document.getElementById('start_event_detail').textContent.trim();
            let endDateStr = document.getElementById('end_event_detail').textContent.trim();

            let startDate = parseDateBR(startDateStr);
            let endDate = parseDateBR(endDateStr);

            if (startDate) {
                document.getElementById('id_start_time').value = startDate.toISOString().slice(0, 19);
            } else {
                console.error("Data de início inválida:", startDateStr);
            }

            if (endDate) {
                document.getElementById('id_end_time').value = endDate.toISOString().slice(0, 19);
            } else {
                console.error("Data de fim inválida:", endDateStr);
            }

            document.getElementById('id_event_id').value = eventId;
    
            $('#detailModal').modal('hide');
            $('#eventModal').modal('show');
        });

        document.getElementById('delete-event-button').addEventListener('click', function() {
            const eventId = this.getAttribute('data-event-id');
            console.log(`Tentando excluir o evento com ID: ${eventId}`);
            if (confirm('Tem certeza que deseja apagar este evento?')) {
                $.post(`/delete_event/${eventId}/`, { csrfmiddlewaretoken: '{{ csrf_token }}' })
                  .done(function(response) { 
                      alert(response.message); 
                      window.location.reload(); 
                  })
                  .fail(function(jqXHR) { 
                      alert('Erro ao apagar: ' + jqXHR.responseText); 
                  });
            }
        });
    });

    function parseDateBR(dateStr) {
        let regex = /(\d{1,2}) de (\w+) de (\d{4}) às (\d{2}):(\d{2})/;
        let matches = regex.exec(dateStr);
        
        if (matches) {
            let day = parseInt(matches[1], 10);
            let month = getMonthNumber(matches[2].toLowerCase());
            let year = parseInt(matches[3], 10);
            let hours = parseInt(matches[4], 10);
            let minutes = parseInt(matches[5], 10);

            return new Date(year, month - 1, day, hours, minutes);
        }
        return null;
    }

    function getMonthNumber(monthStr) {
        const months = {
            'janeiro': 1, 'fevereiro': 2, 'março': 3, 'abril': 4,
            'maio': 5, 'junho': 6, 'julho': 7, 'agosto': 8,
            'setembro': 9, 'outubro': 10, 'novembro': 11, 'dezembro': 12
        };
        return months[monthStr] || 0;
    }

    function formatDateTime(dateTime) {
        return new Date(dateTime).toLocaleString('pt-BR', { dateStyle: 'full', timeStyle: 'short' });
    }

    function converterDataParaDjangoFormat(data) {
        const dataJS = new Date(data);
        return `${dataJS.getFullYear()}-${(dataJS.getMonth() + 1).toString().padStart(2, '0')}-${dataJS.getDate().toString().padStart(2, '0')}T` +
               `${dataJS.getHours().toString().padStart(2, '0')}:${dataJS.getMinutes().toString().padStart(2, '0')}:${dataJS.getSeconds().toString().padStart(2, '0')}`;
    }
</script>
{% endblock extrascripts %}

