{% extends 'base/base.html' %}
{% load static %}
{% block title %}Calendário{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
  
<style>
    #calendar {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
    }

    .fc-event {
        background-color: #009688;
        color: white;
        border-radius: 5px;
        padding: 10px;
        margin: 5px 0;
        transition: transform 0.2s;
    }

    .fc-event:hover {
        transform: scale(1.05);
    }

    .fc-event h5 {
        font-size: 1.2em;
        margin: 0;
    }

    .fc-event p {
        margin: 5px 0;
    }

    .col-md-3 {
        background-color: #F2F7F2;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
        background-color: #009688;
    }

    .modal-title {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #009688;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #009688;
    }
</style>
{% endblock extracss %}

{% block breadcrumb %}
  <h1><i class="fa fa-calendar"></i> Calendário</h1>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <h4 class="mb-4">Culturas em andamento</h4>
        {% for event in events_month %}
          <div class="fc-event">
              <h4>{{ event.title }}</h4>
              <p><strong>Tipo: </strong>{{ event.type }}</p>
              <p><strong>Cultura: </strong>{{ event.cultura }}</p>  {# Exibindo o campo cultura aqui #}
              <p><strong>Local: </strong>{{ event.local }}</p>
              <p><strong>Descrição: </strong>{{ event.description }}</p>
              <p><strong>Data Início: </strong>{{ event.start_time|date:"d \d\e F \d\e Y" }}</p> 
              <p><strong>Data Fim: </strong>{{ event.end_time|date:"d \d\e F \d\e Y" }}</p> 
              <p><strong>Duração: </strong>{{ event.duration }}</p> {# Exibindo a duração aqui #}
          </div>
        {% empty %}
          <p>Nenhuma cultura em andamento</p>
        {% endfor %}
    </div>
    <div class="col-md-9">
        <div id="calendar"></div>
    </div>

    <!-- Modal para Adicionar Plantação -->
    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Adicionar Plantação</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Evento:</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group">
                            <label>Tipo:</label>
                            {{ form.type }}  {# Isso agora renderiza como um select #}
                        </div>
                        <div class="form-group">
                            <label>Cultura:</label> {# Campo cultura adicionado #}
                            {{ form.cultura }}
                        </div>
                        <div class="form-group">
                            <label>Local:</label>
                            {{ form.local }}  {# Isso agora renderiza como um select #}
                        </div>
                        <div class="form-group">
                            <label>Descrição:</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group">
                            <label>Início:</label>
                            {{ form.start_time }}
                        </div>
                        <div class="form-group">
                            <label>Fim:</label>
                            {{ form.end_time }}
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para Detalhes do Evento -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="title_event_detail"></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Tipo:</strong> <span id="type_event_detail"></span></p>
                    <p><strong>Cultura:</strong> <span id="cultura_event_detail"></span></p> {# Nova linha para Cultura #}
                    <p><strong>Local:</strong> <span id="local_event_detail"></span></p>
                    <p><strong>Descrição:</strong> <span id="description_event_detail"></span></p>
                    <p><strong>Data Início:</strong> <span id="start_event_detail"></span></p>
                    <p><strong>Data Fim:</strong> <span id="end_event_detail"></span></p>
                    <p><strong>Duração:</strong> <span id="duration_readable_event_detail"></span></p> {# Nova linha para Cultura #}
                </div>
                <div class="modal-footer">
                    <button id="delete-event-button" data-event-id="" type="button" class="btn btn-danger">Apagar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
<script src="{% static 'calender/main.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'pt-br',
        headerToolbar: { 
            left: 'prev,next today', 
            center: 'title', 
            right: 'dayGridMonth,list' 
        },
        buttonText: {
            today: 'Hoje',
            month: 'Mês',
            list: 'Tarefas do dia'
        },
        initialDate: new Date(),
        navLinks: true,
        selectable: true,
        select: function(arg) {
            document.getElementById('id_start_time').value = converterDataParaDjangoFormat(arg.start);
            document.getElementById('id_end_time').value = converterDataParaDjangoFormat(arg.end);
            $('#eventModal').modal('show');
            calendar.unselect();
        },
        eventClick: function(arg) {
            document.getElementById('title_event_detail').textContent = arg.event.title;
            document.getElementById('description_event_detail').textContent = arg.event.extendedProps.description || '';
            document.getElementById('start_event_detail').textContent = formatDateTime(arg.event.start);
            document.getElementById('end_event_detail').textContent = formatDateTime(arg.event.end);
            document.getElementById('type_event_detail').textContent = arg.event.extendedProps.type || 'Sem tipo';
            document.getElementById('local_event_detail').textContent = arg.event.extendedProps.local || 'Sem local';
            document.getElementById('cultura_event_detail').textContent = arg.event.extendedProps.cultura || 'Sem cultura'; 
            document.getElementById('duration_readable_event_detail').textContent = arg.event.extendedProps.duration_readable || 'Duração não disponível'; 

            document.getElementById('delete-event-button').setAttribute("data-event-id", arg.event.id);
            $('#detailModal').modal('show');
        },
        editable: true,
        dayMaxEvents: true,
        events: {{ events|safe }}
    });

    calendar.render();
});

function formatDateTime(dateTime) {
    return new Date(dateTime).toLocaleString('pt-BR', { dateStyle: 'full', timeStyle: 'short' });
}

function converterDataParaDjangoFormat(data) {
    const dataJS = new Date(data);
    return `${dataJS.getFullYear()}-${(dataJS.getMonth() + 1).toString().padStart(2, '0')}-${dataJS.getDate().toString().padStart(2, '0')} ` +
           `${dataJS.getHours().toString().padStart(2, '0')}:${dataJS.getMinutes().toString().padStart(2, '0')}:${dataJS.getSeconds().toString().padStart(2, '0')}`;
}

document.getElementById('delete-event-button').addEventListener('click', function() {
    const eventId = this.getAttribute('data-event-id');
    if (confirm('Tem certeza que deseja apagar este evento?')) {
        $.post(`/delete_event/${eventId}/`, { csrfmiddlewaretoken: '{{ csrf_token }}' })
          .done(function(response) { alert(response.message); window.location.reload(); })
          .fail(function() { alert('Erro ao apagar!'); });
    }
});
</script>
{% endblock extrascripts %}
