{% extends 'base/base.html' %}
{% load static %}
{% block title %}Calendário{% endblock title %}

{% block extracss %}
<link href="{% static 'calender/main.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css">

<style>
    #addEventButton, #modeTempo, #modeFasesLua,#modeEventos{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.6rem;
        justify-content: center;
        background-color: #d7d7d7;
    }

    #modeEventos, #modeFasesLua, #modeTempo, #addEventButton{
        width: 200px;
        padding: 10px;
        text-align: center;
    }

    #calendar {
        width: 76%;
        max-width: 1200px;
        background: white;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }



    .coluna-ongoing {
        background-color: #F2F7F2;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-height: 45.5rem;
        overflow-y: scroll;
    }

    .modal-header {
        background-color: #4D933E !important;
        width: 100% !important;
    }

    .modal-title {
        font-weight: bold;
    }

    .save-btn {
        background-color: #4D933E;
        border-color: #096d10;
    }

    .save-btn:hover {
        background-color: #2c5f20 !important;
        border-color: #00570d !important;
    }

    .btn-primary:hover {
        background-color: #515151;
    }

    .day-icon, .moon-icon {
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        color: green !important;
    }

    .mode-buttons {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    .mode-buttons button.active {
        background-color: #4D933E !important;
        color: white !important;
    }

    #addEventButtonContainer {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap: 2rem;
    }

    .weather-modal {
        background-color: #ffffff;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
    /* Cabeçalho do modal */
    .weather-modal .modal-header {
        background-color: #4CAF50;
        color: white;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        padding: 10px 15px;
    }

    .weather-modal .modal-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .weather-modal .close {
        font-size: 1.5rem;
        color: white;
    }
    /* Seção principal para temperatura e descrição */
    .main-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        text-align: left;
    }
    /* Descrição e texto de temperatura */
    .description {
        flex: 1;
        padding-right: 20px;
    }

    .condition-text {
        font-size: 1rem;
        color: #666;
        margin: 0;
    }

    .temperature-text {
        font-size: 2rem;
        margin: 5px 0 0;
        color: #333;
    }
    /* Círculo de temperatura */
    .temperature-circle {
        background-color: #f0f0f0;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
        font-size: 1.2rem;
        color: #333;
        font-weight: bold;
    }
    /* Grade de Informações */
    .weather-info-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 20px;
    }

    .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info-item i {
        font-size: 1.8rem;
        color: #4CAF50;
        margin-bottom: 5px;
    }

    .info-item p {
        font-size: 0.9rem;
        color: #666;
    }

    .info-item strong {
        font-size: 1.1rem;
        color: #333;
    }
    /* Responsividade */
    @media (max-width: 768px) {
        .weather-info-grid {
            grid-template-columns: repeat(1, 1fr);
        }

        .temperature-circle {
            width: 80px;
            height: 80px;
            font-size: 1rem;
        }

        .temperature-text {
            font-size: 1.8rem;
        }
    }
    /* Modal de Exclusão */
    .delete-modal-content {
        background-color: #f3f3f3;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .delete-modal-title {
        font-size: 1.8rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
        text-align: left;
    }

    .delete-modal-message {
        font-size: 1rem;
        color: #666;
        margin-bottom: 15px;
    }

    .delete-modal-question {
        font-size: 1.1rem;
        font-weight: bold;
        color: #444;
        margin-bottom: 20px;
    }

    .delete-modal-buttons {
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .delete-cancel-btn {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        color: #333;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: all 0.3s ease;
    }

    .delete-cancel-btn:hover {
        background-color: #367A29;
        border-color: #2A5E21 !important;
        color: #ffffff !important;
    }

    .delete-confirm-btn {
        background-color: #333333;
        border: 1px solid #000000;
        color: #ffffff;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: all 0.3s ease;
    }

    .delete-confirm-btn:hover {
        background-color: #367A29;
        border-color: #2A5E21 !important;
        color: #ffffff !important;
    }

    .delete-modal-message,
    .delete-modal-question {
        text-align: left;
    }

    #suggestionModal .modal-content {
        border-radius: 16px;
        background-color: #F4F4F4;
        padding: 24px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    #suggestionModal .modal-body {
        padding: 20px;
        font-family: 'Arial', sans-serif;
    }

    #suggestionModal .modal-title {
        font-weight: bold;
        font-size: larger;
        font-size: 1.5rem;
        color: #333;
    }

    #suggestionModal .modal-body p {
        color: #777;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .modal-body{
        padding: 60px !important;
        padding-top: 10px !important;
    }

    #suggestionModal .modal-body span {
        font-weight: bold;
        color: #333;
    }

    #suggestionModal .btn {
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    #suggestionModal .btn-dark {
        background-color: #333333;
        color: #ffffff;
    }

    #suggestionModal .btn-outline-dark {
        color: #333333;
        border: 1px solid #cccccc;
    }

    #suggestionModal .btn-outline-dark:hover {
        background-color: #f5f5f5;
        border-color: #aaaaaa;
    }

    .fc-event {
        background: none !important;
        background-color: var(--custom-bg-color, #4D933E) !important;
        border-color: inherit !important;
        color: inherit !important;
        border-radius: 5px;
        transition: transform 0.2s;
    }

    .fc-event:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

</style>
{% endblock extracss %}

{% block breadcrumb %}
<div style="margin: 100px 0 40px 180px;">
    <button style="width: 110px;" class="btn btn-primary active rounded-5"><i class="fa-solid fa-chevron-left"></i> Voltar</button>
</div>

<div style="width: 76%; max-width: 1200px; margin: 0 auto;">
    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px;">
        <h1 style="font-size: 4.5rem; margin: 0;">Calendário</h1>
        <div class="mode-buttons" style="display: flex; gap: 14px;">
            <button id="modeEventos" class="btn   rounded-5">
                <i class="fa-solid fa-seedling"></i><span class="separator" style="margin-bottom: 0.2rem;font-weight: 100;">|</span> Plantio
            </button>
            <button id="modeFasesLua" class="btn   rounded-5">
                <i class="bi bi-moon-fill"></i><span class="separator" style="margin-bottom: 0.2rem;font-weight: 100;">|</span> Fase da Lua
            </button>
            <button id="modeTempo" class="btn   rounded-5">
                <i class="bi bi-brightness-high"></i><span class="separator" style="margin-bottom: 0.2rem;font-weight: 100;">|</span> Clima
            </button>            
        </div>
    </div>
    <div id="addEventButtonContainer" style="text-align: right;">
        <div class="input-group mb-3" style="width: 50%;">
            <label class="input-group-text" for="inputGroupSelect01">Filtrar</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Escolha uma opção</option>
                <option value="1">Batata</option>
                <option value="2">Cenoura</option>
                <option value="3">Tomate</option>
                <option value="4">Rúcula</option>
                <option value="5">Tomate</option>
            </select>
        </div>
        <button id="addEventButton" name="btn_addEvento" class="btn rounded-5">
            <i class="bi bi-plus-circle"></i><span class="separator" style="margin-bottom: 0.2rem;font-weight: 100;"> |</span> Adicionar Evento
        </button>  
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; margin-top: 140px;">
    <div id="calendar"></div>
</div>

<!-- Modal para Adicionar Plantação -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white">Adicionar Plantação</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form method="post" id="eventForm">
                {% csrf_token %}
                <input type="hidden" id="id_event_id" name="event_id">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Evento:</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        <label>Tipo:</label>
                        {{ form.type }}
                    </div>
                    <div class="form-group">
                        <label>Cultura:</label>
                        {{ form.cultura }}
                    </div>
                    <div class="form-group">
                        <label>Local:</label>
                        {{ form.local }}
                    </div>
                    <div class="form-group">
                        <label>Descrição:</label>
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        <label>Início:</label>
                        {{ form.start_time }}
                    </div>
                    <div class="form-group">
                        <label>Fim:</label>
                        {{ form.end_time }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary save-btn">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para recomendação de colheita -->
<div class="modal fade" id="recommendationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white">Recomendação de Colheita</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="recommendationMessage" style="font-weight: bold; color: #333;"></p>
                <p>Sugestão: Avalie a colheita para este período.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-nv-btn">Criar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Detalhes do Evento -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="title_event_detail"></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Tipo:</strong> <span id="type_event_detail"></span></p>
                <p><strong>Cultura:</strong> <span id="cultura_event_detail"></span></p>
                <p><strong>Local:</strong> <span id="local_event_detail"></span></p>
                <p><strong>Descrição:</strong> <span id="description_event_detail"></span></p>
                <p><strong>Data Início:</strong> <span id="start_event_detail"></span></p>
                <p><strong>Data Fim:</strong> <span id="end_event_detail"></span></p>
                <p><strong>Duração:</strong> <span id="duration_readable_event_detail"></span></p>
            </div>
            <div class="modal-footer">
                <button id="edit-event-button" data-event-id="" type="button" class="btn btn-primary">Editar</button>
                <button id="delete-event-button" data-event-id="" type="button" class="btn btn-danger">Apagar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Previsão do Tempo -->
<div class="modal fade" id="weatherModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content weather-modal">
            <!-- Cabeçalho -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalDate"></h5>
                <button type="button" id="fecharmodalClima" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Corpo do Modal -->
            <div class="modal-body">
                <!-- Linha principal com temperatura e descrição -->
                <div class="main-info">
                    <div class="description">
                        <p id="modalCondition" class="condition-text"></p>
                        <h2 id="modalTemperature" class="temperature-text"></h2>
                    </div>
                    <div class="temperature-circle">
                        <p id="modalMainTemperature"></p>
                    </div>
                </div>

                <!-- Grade de Informações -->
                <div class="weather-info-grid">
                    <div class="info-item">
                        <i class="bi bi-droplet"></i>
                        <p>Umidade</p>
                        <strong id="modalHumidity"></strong>
                    </div>
                    <div class="info-item">
                        <i class="bi bi-wind"></i>
                        <p>Vento</p>
                        <strong id="modalWind"></strong>
                    </div>
                    <div class="info-item">
                        <i class="bi bi-sun"></i>
                        <p>Índice UV</p>
                        <strong id="modalUV"></strong>
                    </div>
                    <div class="info-item">
                        <i class="bi bi-cloud-drizzle"></i>
                        <p>Precipitação</p>
                        <strong id="modalPrecipitation"></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Detalhes da Fase da Lua -->
<div class="modal fade" id="moonPhaseModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moonModalDate" style="color: white;"></h5>
                <button type="button" id="fecharmodalClima1" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Fase da Lua:</strong> <span id="moonModalPhase"></span></p>
                <p><strong>Iluminação:</strong> <span id="moonModalIllumination"></span>%</p>
                <p><strong>Fluxo da Seiva:</strong> <span id="moonModalSapFlow"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmação de Exclusão -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content delete-modal-content">
            <div class="modal-body text-center">
                <h2 class="delete-modal-title">Excluir cultura</h2>
                <p class="delete-modal-message">
                    O evento que criou está prestes a ser excluído, não haverá como recuperar.
                </p>
                <p class="delete-modal-question">Gostaria de concluir a ação?</p>
                <div class="delete-modal-buttons">
                    <button type="button" class="btn delete-cancel-btn" data-dismiss="modal">
                        <i class="bi bi-x-circle"></i> Não, cancele
                    </button>
                    <button type="button" class="btn delete-confirm-btn" id="confirmDeleteButton">
                        <i class="bi bi-trash"></i> Sim, excluir
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal genérico -->
<div class="modal fade" id="genericModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="genericModalTitle">Informação</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="genericModalMessage" style="font-weight: bold; color: #333;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal "Excluindo cultura" -->
<div id="deletingModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Excluindo cultura...</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal "Cultura excluída com sucesso" -->
<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 16px; background-color: #F4F4F4; padding: 24px; text-align: center; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
            <div class="modal-body">
                <i class="bi bi-check-circle-fill" style="font-size: 3.5rem; color: #4CAF50; margin-bottom: 15px;"></i>
                <h4 class="modal-title" style="font-weight: bold; margin-bottom: 8px; font-size: 1.5rem; color: #333;">Cultura excluída com sucesso</h4>
                <p style="color: #777; font-size: 1rem;">Pronto, já pode acessar suas alterações!</p>
                <button type="button" name="btn_gerenciarCultura1" class="btn btn-dark" onclick="window.location.href='/dashboard/'" 
                        style="border-radius: 8px; margin-top: 20px; padding: 10px 20px; font-size: 1rem; display: inline-flex; align-items: center; gap: 0.5rem;">
                    <i class="bi bi-pencil-square"></i> Gerenciar culturas
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Processamento -->
<div id="processingModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Processando nova cultura...</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Sucesso -->
<div id="successAddModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 16px; background-color: #F4F4F4; padding: 24px; text-align: center; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
            <div class="modal-body">
                <i class="bi bi-check-circle-fill" style="font-size: 3.5rem; color: #4CAF50; margin-bottom: 15px;"></i>
                <h4 class="modal-title" style="font-weight: bold; margin-bottom: 8px; font-size: 1.5rem; color: #333;">Cultura adicionada com sucesso</h4>
                <p style="color: #777; font-size: 1rem;">Pronto, já pode acessar sua nova cultura!</p>
                <button type="button" name="btn_gerenciarCultura" class="btn btn-dark" onclick="window.location.href='/dashboard/'" 
                        style="border-radius: 8px; margin-top: 20px; padding: 10px 20px; font-size: 1rem; display: inline-flex; align-items: center; gap: 0.5rem;">
                    <i class="bi bi-pencil-square"></i> Gerenciar culturas
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Sugestão -->
<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 16px; background-color: #F4F4F4; padding: 24px; text-align: center; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
            <div class="modal-body">
                <h4 class="modal-title" style="font-weight: bold; margin-bottom: 8px; font-size: 1.5rem; color: #333;">Sugestão</h4>
                <p style="color: #777; font-size: 1rem; margin-bottom: 15px;">
                    Sua cultura será plantada no dia <span id="suggestionPlantingDate"></span>, <br>
                    sugerimos que a colheita seja no dia <span id="suggestionHarvestDate"></span>.
                </p>
                <p style="font-weight: bold; font-size: 1rem; color: #444;">Gostaria de aceitar nossa sugestão?</p>
                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="button" id="rejectSuggestion" class="btn btn-outline-dark" style="border-radius: 8px; padding: 10px 20px; font-size: 1rem;">
                        <i class="bi bi-x-circle"></i> Não, estou ciente
                    </button>
                    <button type="button" id="acceptSuggestion" class="btn btn-dark" style="border-radius: 8px; padding: 10px 20px; font-size: 1rem;">
                        <i class="bi bi-check-circle"></i> Sim, aceito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{{ previsoes|json_script:"weatherData" }}
{{ fases_lua|json_script:"moonPhaseData" }}
{% endblock content %}

{% block extrascripts %}
<script src="{% static 'calender/main.js' %}"></script>
<script>
    const CULTURA_PRAZOS = {
        'Tomate': 105,
        'Cenoura': 85,
        'Alface': 38,
        'Batata': 105,
        'Rúcula': 35,
    };
    const culturaCores = {
        'Tomate': '#ff0000',
        'Cenoura': '#FFA500',
        'Alface': '#228B22',
        'Batata': '#E9CBA5',
        'Rúcula': '#800080',
    };
    
    document.addEventListener('DOMContentLoaded', function() {
        let currentMode = 'eventos';
        let eventIdToDelete = null;
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        const modeEventosButton = document.getElementById('modeEventos');
        const modeTempoButton = document.getElementById('modeTempo');
        const modeFasesLuaButton = document.getElementById('modeFasesLua');

        modeEventosButton.addEventListener('click', function() {
            currentMode = 'eventos';
            modeEventosButton.classList.add('active');
            modeTempoButton.classList.remove('active');
            modeFasesLuaButton.classList.remove('active');
            updateCalendarMode();
        });

        modeTempoButton.addEventListener('click', function() {
            currentMode = 'tempo';
            modeTempoButton.classList.add('active');
            modeEventosButton.classList.remove('active');
            modeFasesLuaButton.classList.remove('active');
            updateCalendarMode();
        });

        modeFasesLuaButton.addEventListener('click', function() {
            currentMode = 'fases_lua';
            modeFasesLuaButton.classList.add('active');
            modeEventosButton.classList.remove('active');
            modeTempoButton.classList.remove('active');
            updateCalendarMode();
        });

        function updateCalendarMode() {
            //const ongoingEventsColumn = document.querySelector('.coluna-ongoing');
            const addEventButton = document.getElementById('addEventButton');
            
            if (currentMode === 'eventos') {
                calendar.setOption('selectable', false);
                calendar.setOption('headerToolbar', { left: 'prev,next today', center: 'title', right: '' });
                calendar.getEvents().forEach(event => event.setProp('display', 'auto'));
                //ongoingEventsColumn.style.display = 'block';
                addEventButton.style.display = 'inline-block';
                document.querySelectorAll('.day-icon, .moon-icon').forEach(icon => icon.remove());
            } else if (currentMode === 'tempo') {
                calendar.setOption('selectable', false);
                calendar.setOption('headerToolbar', { left: 'prev,next today', center: 'title', right: '' });
                calendar.getEvents().forEach(event => event.setProp('display', 'none'));
                //ongoingEventsColumn.style.display = 'none';
                addEventButton.style.display = 'none';
                document.querySelectorAll('.moon-icon').forEach(icon => icon.remove());
                renderWeatherIcons();
            } else if (currentMode === 'fases_lua') {
                calendar.setOption('selectable', false);
                calendar.setOption('headerToolbar', { left: 'prev,next today', center: 'title', right: '' });
                calendar.getEvents().forEach(event => event.setProp('display', 'none'));
                //ongoingEventsColumn.style.display = 'none';
                addEventButton.style.display = 'none';
                document.querySelectorAll('.day-icon').forEach(icon => icon.remove());
                renderMoonPhaseIcons();
            }
        }

        document.getElementById('addEventButton').addEventListener('click', function() {
            document.getElementById('id_event_id').value = "";
            document.getElementById('id_start_time').value = "";
            document.getElementById('id_end_time').value = "";
            $('#eventModal').modal('show');
        });

        $('#recommendationModal').modal({
            backdrop: 'static',
            keyboard: false,
            show: false
        });

        function resetEventForm() {
            document.getElementById('eventForm').reset();
            document.getElementById('id_event_id').value = "";
        }

        document.getElementById('addEventButton').addEventListener('click', function () {
            resetEventForm();
            $('#eventModal').modal('show');
        });

        $('#eventModal').on('hidden.bs.modal', function () {
            resetEventForm();
        });


        document.getElementById('eventForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const eventType = document.querySelector('#id_type').value;
            const url = (eventType === "Plantio") ? "{% url 'site_cc:event_new_plantio' %}" : "{% url 'site_cc:event_new' %}";
            const formData = new FormData(this);

            $('#eventModal').modal('hide');

            if (eventType === "Plantio") {
                setTimeout(() => {
                    const diasColheita = CULTURA_PRAZOS[formData.get('cultura')];
                    const dataInicio = new Date(formData.get('start_time'));
                    const dataColheita = new Date(dataInicio.getTime() + diasColheita * 24 * 60 * 60 * 1000);
                    const dataColheitaFormatada = dataColheita.toLocaleDateString('pt-BR');

                    document.getElementById('suggestionPlantingDate').textContent = dataInicio.toLocaleDateString('pt-BR');
                    document.getElementById('suggestionHarvestDate').textContent = dataColheitaFormatada;

                    document.getElementById('acceptSuggestion').onclick = function () {
                        $('#suggestionModal').modal('hide');
                        setTimeout(() => {
                            $('#processingModal').modal('show');
                        }, 300);

                        fetch(url, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrftoken
                            },
                            body: formData
                        })
                        .then(response => {
                            if (!response.ok) {
                                return response.text().then(text => { throw new Error(text); });
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.success) {
                                calendar.addEvent({
                                    id: data.event_id,
                                    title: data.title,
                                    description: data.description,
                                    start: data.start_time,
                                    end: data.end_time,
                                    type: data.type,
                                    cultura: data.cultura,
                                    local: data.local,
                                });

                                fetch(`/event/plantio/${data.event_id}/create_colheita/`, {
                                    method: 'POST',
                                    headers: {
                                        'X-CSRFToken': csrftoken
                                    }
                                })
                                .then(response => response.json())
                                .then(colheitaData => {
                                    if (colheitaData.success) {
                                        calendar.addEvent({
                                            id: colheitaData.colheita_event_id,
                                            title: `${data.title} - Colheita`,
                                            start: dataColheita,
                                            end: dataColheita,
                                            type: "Colheita",
                                            cultura: data.cultura,
                                            local: data.local,
                                        });

                                        setTimeout(() => {
                                            $('#processingModal').modal('hide');
                                            setTimeout(() => {
                                                $('#successAddModal').modal('show');
                                            }, 500);
                                        }, 2000);
                                    } else {
                                        alert("Erro ao criar colheita: " + colheitaData.message);
                                    }
                                })
                                .catch(error => {
                                    console.error('Erro ao criar evento de colheita:', error);
                                    alert("Erro ao criar colheita. Tente novamente.");
                                });
                            } else {
                                throw new Error("Erro ao salvar o evento.");
                            }
                        })
                        .catch(error => {
                            console.error('Erro ao processar a solicitação:', error);
                            alert("Erro ao adicionar cultura. Verifique os dados e tente novamente.");
                        });
                    };

                    document.getElementById('rejectSuggestion').onclick = function () {
                        $('#suggestionModal').modal('hide');
                        setTimeout(() => {
                            $('#processingModal').modal('show');

                            fetch(url, {
                                method: 'POST',
                                headers: {
                                    'X-CSRFToken': csrftoken
                                },
                                body: formData
                            })
                            .then(response => {
                                if (!response.ok) {
                                    return response.text().then(text => { throw new Error(text); });
                                }
                                return response.json();
                            })
                            .then(data => {
                                if (data.success) {
                                    calendar.addEvent({
                                        id: data.event_id,
                                        title: data.title,
                                        description: data.description,
                                        start: data.start_time,
                                        end: data.end_time,
                                        type: data.type,
                                        cultura: data.cultura,
                                        local: data.local,
                                    });

                                    setTimeout(() => {
                                        $('#processingModal').modal('hide');
                                        setTimeout(() => {
                                            $('#successAddModal').modal('show');
                                        }, 500);
                                    }, 2000);
                                } else {
                                    throw new Error("Erro ao salvar o evento.");
                                }
                            })
                            .catch(error => {
                                console.error('Erro ao processar a solicitação:', error);
                                alert("Erro ao adicionar cultura. Verifique os dados e tente novamente.");
                            });
                        }, 300);
                    };

                    $('#suggestionModal').modal('show');
                }, 500);
            } else {
                setTimeout(() => {
                    $('#processingModal').modal('show');
                }, 300);

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        return response.text().then(text => { throw new Error(text); });
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        calendar.addEvent({
                            id: data.event_id,
                            title: data.title,
                            description: data.description,
                            start: data.start_time,
                            end: data.end_time,
                            type: data.type,
                            cultura: data.cultura,
                            local: data.local,
                        });

                        setTimeout(() => {
                            $('#processingModal').modal('hide');
                            setTimeout(() => {
                                $('#successAddModal').modal('show');
                            }, 500);
                        }, 2000);
                    } else {
                        throw new Error("Erro ao salvar o evento.");
                    }
                })
                .catch(error => {
                    console.error('Erro ao processar a solicitação:', error);
                    alert("Erro ao adicionar cultura. Verifique os dados e tente novamente.");
                });
            }
        });

        var calendarEl = document.getElementById('calendar');
        var previsoes = JSON.parse(document.getElementById('weatherData').textContent);
        var fasesLua = JSON.parse(document.getElementById('moonPhaseData').textContent);
        let displayedIconsCount = 0;
        const descriptionIcons = {
            'Possibilidade de chuva irregular': 'wi wi-day-sprinkle',
            'Sol': 'wi wi-day-sunny',
            'Nublado': 'wi wi-cloudy',
            'Tempestade': 'wi wi-storm-showers',
            'Neve': 'wi wi-snow',
            'Neblina': 'wi wi-fog',
            'Chuva moderada': 'wi wi-rain',
            'Chuva forte': 'wi wi-rain-wind',
            'Parcialmente nublado': 'wi wi-day-cloudy',
        };
        const moonPhaseIcons = {
            'New Moon': 'wi wi-moon-new',
            'Waxing Crescent': 'wi wi-moon-waxing-crescent-3',
            'First Quarter': 'wi wi-moon-first-quarter',
            'Waxing Gibbous': 'wi wi-moon-waxing-gibbous-3',
            'Full Moon': 'wi wi-moon-full',
            'Waning Gibbous': 'wi wi-moon-waning-gibbous-3',
            'Last Quarter': 'wi wi-moon-third-quarter',
            'Waning Crescent': 'wi wi-moon-waning-crescent-3',
        };
        const moonPhaseTranslation = {
            "New Moon": "Lua Nova",
            "Waxing Crescent": "Crescente",
            "First Quarter": "Quarto Crescente",
            "Waxing Gibbous": "Crescente Gibosa",
            "Full Moon": "Lua Cheia",
            "Waning Gibbous": "Minguante Gibosa",
            "Last Quarter": "Quarto Minguante",
            "Waning Crescent": "Minguante"
        };
        const sapFlowMapping = {
            'Lua Nova': 'Seiva em baixo',
            'Crescente': 'Seiva subindo',
            'Quarto Crescente': 'Seiva subindo',
            'Crescente Gibosa': 'Seiva em cima',
            'Lua Cheia': 'Seiva em cima',
            'Minguante Gibosa': 'Seiva descendo',
            'Quarto Minguante': 'Seiva descendo',
            'Minguante': 'Seiva em baixo',
        };

        function renderWeatherIcons() {
            document.querySelectorAll('.fc-daygrid-day').forEach(dayCell => {
                const dateStr = dayCell.getAttribute('data-date');
                const forecast = previsoes[dateStr];

                const existingIcon = dayCell.querySelector('.day-icon');
                if (existingIcon) existingIcon.remove();

                if (forecast) {
                    const iconClass = descriptionIcons[forecast.descricao] || descriptionIcons['Nublado'];
                    const icon = document.createElement('i');
                    icon.className = `${iconClass} day-icon`;
                    icon.style.fontSize = '20px';
                    icon.style.color = 'green';
                    icon.style.cursor = 'pointer';

                    icon.onclick = function(event) {
                        event.stopPropagation();
                        openWeatherModal(dateStr);
                    };

                    dayCell.querySelector('.fc-daygrid-day-frame').appendChild(icon);
                }
            });
        }

        function renderMoonPhaseIcons() {
            document.querySelectorAll('.fc-daygrid-day').forEach(dayCell => {
                const dateStr = dayCell.getAttribute('data-date');
                const moonData = fasesLua[dateStr];

                const existingIcon = dayCell.querySelector('.moon-icon');
                if (existingIcon) existingIcon.remove();

                if (moonData) {
                    const phase = moonData.fase_da_lua;
                    let iconClass = moonPhaseIcons[phase] || 'wi wi-moon-alt-new';

                    const icon = document.createElement('i');
                    icon.className = `${iconClass} moon-icon`;
                    icon.style.fontSize = '20px';
                    icon.style.color = 'purple';
                    icon.style.cursor = 'pointer';

                    icon.onclick = function(event) {
                        event.stopPropagation();
                        openMoonPhaseModal(dateStr);
                    };

                    dayCell.querySelector('.fc-daygrid-day-frame').appendChild(icon);
                }
            });
        }

        function openMoonPhaseModal(dateStr) {
            const moonData = fasesLua[dateStr];
            const faseDaLuaIngles = moonData.fase_da_lua;
            const faseDaLuaPortugues = moonPhaseTranslation[faseDaLuaIngles] || faseDaLuaIngles;

            if (moonData) {
                document.getElementById('moonModalDate').textContent = dateStr.split('-').reverse().join('/');
                document.getElementById('moonModalPhase').textContent = faseDaLuaPortugues;
                document.getElementById('moonModalIllumination').textContent = moonData.iluminacao;
                document.getElementById('moonModalSapFlow').textContent = moonData.fluxo_seiva;
                $('#moonPhaseModal').modal('show');
            }
        }

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'pt-br',
            buttonText: {
                today: 'HOJE'
                //month: 'Mês',
                //list: 'Tarefas do dia'
            },
            initialDate: new Date(),
            navLinks: false,
            //selectable: true,
            select: function(arg) {
                document.getElementById('id_event_id').value = "";
                document.getElementById('id_start_time').value = converterDataParaDjangoFormat(arg.start);
                document.getElementById('id_end_time').value = converterDataParaDjangoFormat(arg.end);
                $('#eventModal').modal('show');
                calendar.unselect();
            },
            eventClick: function(arg) {
                if (currentMode === 'eventos') {
                    document.getElementById('title_event_detail').textContent = arg.event.title;
                    document.getElementById('description_event_detail').textContent = arg.event.extendedProps.description || '';
                    document.getElementById('start_event_detail').textContent = formatDateTime(arg.event.start);
                    document.getElementById('end_event_detail').textContent = formatDateTime(arg.event.end);
                    document.getElementById('type_event_detail').textContent = arg.event.extendedProps.type || 'Sem tipo';
                    document.getElementById('local_event_detail').textContent = arg.event.extendedProps.local || 'Sem local';
                    document.getElementById('cultura_event_detail').textContent = arg.event.extendedProps.cultura || 'Sem cultura';
                    document.getElementById('duration_readable_event_detail').textContent = arg.event.extendedProps.duration_readable || 'Duração não disponível';
                    document.getElementById('edit-event-button').setAttribute("data-event-id", arg.event.id);
                    document.getElementById('delete-event-button').setAttribute("data-event-id", arg.event.id);
                    $('#detailModal').modal('show');
                }
            },
            editable: false,
            dayMaxEvents: true,
            events: {{ events|safe }},
            eventDidMount: function(info) {
                const cultura = info.event.extendedProps.cultura;
                if (cultura && culturaCores[cultura]) {
                    info.el.style.setProperty('--custom-bg-color', culturaCores[cultura]);
                    info.el.style.backgroundColor = culturaCores[cultura];
                    info.el.style.borderColor = culturaCores[cultura];
                    info.el.style.color = 'white';
                } else {
                    console.warn('Cultura ou cor não definida para o evento:', info.event);
                }
                info.el.style.removeProperty('background');

                var eventType = info.event.extendedProps.type;
                if (eventType) {
                    info.el.classList.add(eventType);
                }
            },
            dayCellDidMount: function(args) {
                if (currentMode === 'tempo') {
                    const dateStr = args.date.toISOString().split('T')[0];
                    const forecast = previsoes[dateStr];

                    if (forecast) {
                        const cellContent = args.el.querySelector('.fc-daygrid-day-frame');

                        let iconClass = descriptionIcons[forecast.descricao] || descriptionIcons['Nublado'];

                        const icon = document.createElement('i');
                        icon.className = `${iconClass} day-icon`;
                        icon.style.fontSize = '20px';
                        icon.style.color = 'green';
                        icon.style.cursor = 'pointer';

                        icon.onclick = function(event) {
                            event.stopPropagation();
                            openWeatherModal(dateStr);
                        };

                        cellContent.appendChild(icon);
                    }
                }
            },

            datesSet: function() {
                if (currentMode === 'tempo') {
                    renderWeatherIcons();
                } else if (currentMode === 'fases_lua') {
                    renderMoonPhaseIcons();
                } else {
                    document.querySelectorAll('.day-icon, .moon-icon').forEach(icon => icon.remove());
                }
            }
        });

        calendar.render();

        updateCalendarMode();

        window.openWeatherModal = function (dateStr) {
            const forecast = previsoes[dateStr];

            if (forecast) {
                document.getElementById('modalDate').textContent = dateStr.split('-').reverse().join('/');
                document.getElementById('modalMainTemperature').textContent = `${forecast.temperatura_max}°C`; // Temperatura dentro do círculo
                document.getElementById('modalTemperature').textContent = `${forecast.temperatura_max}°C / ${forecast.temperatura_min}°C`;
                document.getElementById('modalCondition').textContent = forecast.descricao;
                document.getElementById('modalHumidity').textContent = `${forecast.umidade}%`;
                document.getElementById('modalWind').textContent = `${forecast.vento} km/h`;
                document.getElementById('modalPrecipitation').textContent = `${forecast.precipitacao} mm`;
                document.getElementById('modalUV').textContent = forecast.indice_uv;

                // Exibe o modal
                $('#weatherModal').modal('show');
            } else {
                console.error("Previsão não encontrada para a data:", dateStr);
            }
        };

        document.getElementById('edit-event-button').addEventListener('click', function() {
            const eventId = this.getAttribute('data-event-id');
            document.getElementById('id_event_id').value = eventId;

            document.getElementById('id_title').value = document.getElementById('title_event_detail').textContent;
            document.getElementById('id_type').value = document.getElementById('type_event_detail').textContent;
            document.getElementById('id_cultura').value = document.getElementById('cultura_event_detail').textContent;
            document.getElementById('id_local').value = document.getElementById('local_event_detail').textContent;
            document.getElementById('id_description').value = document.getElementById('description_event_detail').textContent;

            let startDateStr = document.getElementById('start_event_detail').textContent.trim();
            let endDateStr = document.getElementById('end_event_detail').textContent.trim();

            let startDate = parseDateBR(startDateStr);
            let endDate = parseDateBR(endDateStr);

            if (startDate) {
                document.getElementById('id_start_time').value = startDate.toISOString().slice(0, 19);
            } else {
                console.error("Data de início inválida:", startDateStr);
            }

            if (endDate) {
                document.getElementById('id_end_time').value = endDate.toISOString().slice(0, 19);
            } else {
                console.error("Data de fim inválida:", endDateStr);
            }

            $('#detailModal').modal('hide');
            $('#eventModal').modal('show');
        });

        document.getElementById('delete-event-button').addEventListener('click', function () {
            eventIdToDelete = this.getAttribute('data-event-id');
            $('#detailModal').modal('hide');
            setTimeout(() => {
                $('#deleteConfirmationModal').modal('show');
            }, 300);
        });

        document.getElementById('confirmDeleteButton').addEventListener('click', function () {
            if (eventIdToDelete) {
                $('#deleteConfirmationModal').modal('hide');

                setTimeout(() => {
                    $('#deletingModal').modal('show');

                    setTimeout(() => {
                        fetch(`/delete_event/${eventIdToDelete}/`, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrftoken,
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            $('#deletingModal').modal('hide');

                            if (data.success) {
                                const event = calendar.getEventById(eventIdToDelete);
                                if (event) {
                                    event.remove();
                                }

                                setTimeout(() => {
                                    $('#successModal').modal('show');
                                }, 300);
                            } else {
                                alert('Erro ao excluir o evento. Por favor, tente novamente.');
                            }
                        })
                        .catch(error => {
                            console.error('Erro ao excluir evento:', error);
                            alert('Erro ao excluir o evento. Por favor, tente novamente.');
                        })
                        .finally(() => {
                            eventIdToDelete = null;
                        });
                    }, 2000);
                }, 300);
            }
        });

        const today = new Date().toISOString().split('T')[0];
        document.querySelectorAll('.fc-event').forEach(event => {
            const endDate = event.getAttribute('data-end-date');
            const eventType = event.getAttribute('data-type');
            const cultura = event.getAttribute('data-cultura'); // Identifica a cultura

            if (endDate === today && eventType === "Colheita") {
                let deadlineIcon = event.querySelector('.deadline-icon');

                if (!deadlineIcon) {
                    deadlineIcon = document.createElement('span');
                    deadlineIcon.className = 'deadline-icon';
                    deadlineIcon.textContent = '⚠️';
                    deadlineIcon.style.cursor = 'pointer';
                    event.prepend(deadlineIcon);
                }

                // Configura o clique no ícone
                deadlineIcon.addEventListener('click', function() {
                    fetch(`/alerta_colheita?cultura=${encodeURIComponent(cultura)}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro na resposta da rede');
                            }
                            return response.json();
                        })
                        .then(data => {
                            // Verifica se o texto foi gerado com sucesso
                            const modalTitle = document.querySelector('#genericModal .modal-title');
                            const modalMessage = document.querySelector('#genericModalMessage');
                            if (data.texto_gerado) {
                                modalTitle.textContent = `Alerta de Colheita - ${data.cultura}`;
                                modalMessage.textContent = data.texto_gerado;
                            } else {
                                modalMessage.textContent = "Nenhuma informação gerada sobre a colheita.";
                            }
                            $('#genericModal').modal('show'); // Abre o modal
                        })
                        .catch(error => {
                            console.error('Erro ao carregar o alerta de colheita:', error);
                            document.getElementById('genericModalMessage').textContent = "Erro ao carregar informações de colheita.";
                            $('#genericModal').modal('show'); // Exibe mensagem de erro no modal
                        });
                });
            }
        });



        // Funções de Utilidade
        function converterDataParaDjangoFormat(data) {
            const dataJS = new Date(data);
            return `${dataJS.getFullYear()}-${(dataJS.getMonth() + 1).toString().padStart(2, '0')}-${dataJS.getDate().toString().padStart(2, '0')}T` +
                   `${dataJS.getHours().toString().padStart(2, '0')}:${dataJS.getMinutes().toString().padStart(2, '0')}:${dataJS.getSeconds().toString().padStart(2, '0')}`;
        }

        function formatDateTime(dateTime) {
            return new Date(dateTime).toLocaleString('pt-BR', { dateStyle: 'full', timeStyle: 'short' });
        }

        function parseDateBR(dateStr) {
            let regex = /(\d{1,2}) de (\w+) de (\d{4}) às (\d{2}):(\d{2})/;
            let matches = regex.exec(dateStr);
            
            if (matches) {
                let day = parseInt(matches[1], 10);
                let month = getMonthNumber(matches[2].toLowerCase());
                let year = parseInt(matches[3], 10);
                let hours = parseInt(matches[4], 10);
                let minutes = parseInt(matches[5], 10);

                return new Date(year, month - 1, day, hours, minutes);
            }
            return null;
        }

        function getMonthNumber(monthStr) {
            const months = {
                'janeiro': 1, 'fevereiro': 2, 'março': 3, 'abril': 4,
                'maio': 5, 'junho': 6, 'julho': 7, 'agosto': 8,
                'setembro': 9, 'outubro': 10, 'novembro': 11, 'dezembro': 12
            };
            return months[monthStr] || 0;
        }
    });
</script>

{% endblock extrascripts %}