{% extends 'base/base.html' %}
{% load static %}

{% block title %}Painel de Eventos{% endblock title %}


{% block content %}

<div class="row">
    <div class="col-md-12 tilecol">
        <div class="painelholder">
            <h1 style="width: 20%;"><i class="fa fa-dashboard"></i> Painel</h1>
            <div class="cardsholderdashboard">
                <div class="col-md-6 col-lg-3" style="padding: 0; margin: 0;">
                    <div class="widget-small primary coloured-icon">
                        <i class="icon fa fa-leaf fa-3x"></i>
                        <div class="info">
                            <h4>Plantações Concluídas</h4>
                            <p><b>{{ total_event }}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3" style="padding: 0; margin: 0;">
                    <div class="widget-small info coloured-icon">
                        <i class="icon fa fa fa-spinner fa-3x"></i>
                        <div class="info">
                            <h4>Plantações em Andamento</h4>
                            <p><b>{{ running_events.count }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nome: ative para classificar a coluna em ordem decrescente" style="width: 261.641px;">SL</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Nome do Evento: ative para classificar a coluna em ordem crescente" style="width: 417.312px;">Nome do Evento</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tipo: ative para classificar a coluna em ordem crescente" style="width: 102.141px;">Tipo</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Cultura: ative para classificar a coluna em ordem crescente" style="width: 102.141px;">Cultura</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Local: ative para classificar a coluna em ordem crescente" style="width: 102.141px;">Local</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Início: ative para classificar a coluna em ordem crescente" style="width: 189.281px;">Data de Início</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Fim: ative para classificar a coluna em ordem crescente" style="width: 102.141px;">Data de Término</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in latest_events %}
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{{ forloop.counter }}</td>
                                                <td>{{ event.title }}</td>
                                                <td>{{event.type}}</td>
                                                <td>{{event.cultura}}</td>
                                                <td>{{event.local}}</td>
                                                <td>{{ event.start_time }}</td>
                                                <td>{{ event.end_time }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
