<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Bem-vindo ao Plantae</h1>
        <p>Para acessar todas as funcionalidades, faça login.</p>
        <a href="{% url 'accounts:signin' %}" class="btn btn-primary">Fazer Login</a>
    </div>
</body>
</html>
