{% include 'navbar2.html' %}
{% load static %}
{% block content %}
<title>Plantaê</title>
<style>
  .container-nav {
    background-color: #AFE507 ;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .subtitle {
    font: bold;
  }

  .join-btn {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .hero {
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    background-color: #e0e0e0;
    overflow: hidden;
    padding-top: 2rem;
    padding-top: 5rem;
  }

  .hero-text {
    max-width: 500px;
  }

  .hero-image {
    height: 25rem;
    width: 22rem;
    background-color: #F46718;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  .hero h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-weight: bold;
  }

  .cta-btn {
    padding: 0.75rem 1.5rem;
    background-color: #316722;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  .cta-btn:hover{
    background-color: #234818;
  }

  .about {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 2rem;
  }

  .about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .about-text {
    width: 30%;
  }

  .img-sobre {
    height: fit-content;
    width: fit-content;
  }

  .imgsobre2{
    height: 22rem;
    width: 22rem;
  }

  .cards-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 2rem;
    gap: 2rem;
  }

  .cardsul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8rem;
  }

  .cardimg {
    height: 15rem;
    width: 15rem;
    background-color: red;
  }

  .quemsomos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .hold-imgnossa {
    width: 35rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ulimgnossa {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .imgnossa {
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
  }

  .imgdiv {
    height: 6rem;
    width: 6rem;
    background-color: green;
    padding: 0;
    margin: 0;
  }

  .textoquemsomos-holdimgnossa{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .head-subtexto{
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    width: 50%;
  }

  .subtexto{
    width: 100%;
  }

  .contato{
    background-color: #e0e0e0;
    padding: 2rem;
  }

  .velhofdp{
    height: 32rem;
    margin-left: -18.3rem;
  }

</style>
</head>

<body>
  <section class="hero" style="background-color: #AFE507;">
    <div class="hero-text">
      <h1 style="font-size: 3rem; color: #316722;"><strong>Seu plantio, <br> Nossa tecnologia</strong></h1>
      <p class="subtitle" style="color: #316722;">Gerencie seu cultivo de forma simples e eficiente.</p>
      <p style="color: #316722;">Acompanhe cada etapa, maximize sua produção e tome decisões informadas para colher mais com menos esforço.</p>
      <a href="{% url 'accounts:signin' %}">
        <button class="cta-btn btn">Experimente agora</button>
      </a>
    </div>
    <div class="hero-image">
      <img class="velhofdp" src="{% static 'images\3d-portrait-farmer1.png' %}"></img>
    </div>
  </section>

  <section class="about" id="sobre">
    <div class="about-text">
      <h2 style="color: #316722;"><strong>Sobre o Plantaê</strong></h2>
      <p style="color: #316722;">O <strong>Plantaê</strong> é uma plataforma desenvolvida para apoiar pequenos agricultores, facilitando o
        planejamento e manejo de plantios e colheitas.</p>
      <br>
      <p style="color: #316722;">Criada para atender às necessidades identificadas em parceria com o coletivo CAIS, onde os pequenos produtores
        dizem qual a sua necessidade de plantio e recebem ajuda para gerenciar suas culturas de forma simples.</p>
    </div>

    <div class="img-sobre">
      <img class="imgsobre2" src="{% static 'images\close-up-picture-hand-holding-planting-sapling-plant 2.png' %}"></img>
    </div>

  </section>

  <section class="cards-sec" style="background-color: #316722;">

    <p class="cards-header" style="color: #F3F6F8;"><strong>Plantaê</strong> simboliza a força da agricultura familiar e a conexão com a terra.
    </p>

    <ul class="cardsul">
      <li class="cardsli">
        <div class="cardimg">
          <img src="{% static 'images\mato.jpg' %}" width="250" height="250">
        </div>
      </li>
      <li class="cardsli">
        <div class="cardimg">
          <img src="{% static 'images\pessoas.jpg' %}" width="250" height="250">
        </div>
      </li>
      <li class="cardsli">
        <div class="cardimg">
          <img src="{% static 'images\terra.jpg' %}" width="250" height="250">
        </div>
      </li>
    </ul>

  </section>

  <section class="quemsomos">

    <div class="textoquemsomos-holdimgnossa">
      <h2><strong>Quem somos</strong></h2>

      <div class="hold-imgnossa">
        <ul class="ulimgnossa">
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\malu.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\mamede.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\emmanoel.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\amanda.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\mateus.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\spineli.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\carlos.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\micucci.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\borges.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\thales.jpg' %}" width="100" height="100">
            </div>
          </li>
          <li class="imgnossa">
            <div class="imgdiv">
              <img src="{% static 'images\clara.jpg' %}" width="100" height="100">
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="head-subtexto">
      <h3><strong>Conheça a equipe por trás do Plantaê</strong></h3>
      <br>
      <p class="subtexto">Formada por estudantes de Design e Ciência da Computação do segundo período da CESAR School, unidos pela missão de apoiar pequenos produtores na conexão com a terra e na construção de práticas sustentáveis e independentes no campo.</p>
    </div>

  </section>

  <section class="contato">

    <h2><strong>Contato</strong></h2>

  </section>

  



  <footer>
  </footer>
</body>
{% endblock %}