
{% block content %}
{% include 'navbar.html' %}

<style>
    p {
        margin: 0;
    }

    .container{
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 30rem;
        gap: 1rem;
        border-radius: 0;
        border-top-right-radius: 3rem;
        border: none;
    }

    .plantio {
        font-size: 2rem;
        font-weight: bold;
    }

    .fa-circle {
        font-size: 0.5rem;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .plantio-e-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
    }

    .img-e-detalhes {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
    }

    .detalhes {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .plantio-img {
        background-color: red;
        border-radius: 4rem;
        height: 6rem;
        width: 6rem;
    }

    .calendario-ul {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 1rem;
    }

    .calendario-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    .plantio-img-lista {
        background-color: red;
        height: 3rem;
        width: 3rem;
        border-radius: 1.5rem;
    }

    .datas-calendario-setaBtn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .seta-btn {
        margin-bottom: -1rem;
        background-color: rgb(0, 0, 0);
        padding: 1rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        border-radius: 3rem;
    }

    .hold-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;
    }

    .btns-holder{
        display: flex;
        flex-direction: column;
        width: 23rem;
        gap: 1rem;
    }

    .gerenciar-culturas{
        background-color: rgb(45, 60, 41);
        border-radius: 1.5rem;
        padding: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: 100%;
        font-size: 1rem;
    }

    .gerenciar-culturas:hover{
        background-color: rgb(36, 48, 33);
        color: white !important;
    }

    .botoes-debaixo{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .reportar-pragas{
        background-color: rgb(244, 103, 24);
        border-radius: 1.5rem;
        padding: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: 100%;
        font-size: 1rem;
    }

    .reportar-pragas:hover{
        background-color: rgb(211, 88, 18);
        color: white !important;
    }

    .adicionar-cultura{
        background-color: black;
        border-radius: 1.5rem;
        padding: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: 100%;
        font-size: 1rem;
    }
    .status-plantio {
        font-size: 0.8rem;
        padding: 0.5rem;
        border-radius: 1rem;
        text-align: center;
        color: white;
    }


    #plantio-card{
        background-color: rgb(175, 229, 7);
        color: rgb(45, 60, 41);
    }

    #clima-card{
        background-color: rgb(45, 60, 41);
        color: rgb(254, 254, 255);
    }

</style>

<div class="container">

    <div class="hold-cards">
        <div class="card shadow-lg" id="plantio-card">
            <div class="plantio-e-navigation">
                <p class="plantio">Plantio</p>
                <div class="navigation">
                    <i class="fa-solid fa-angle-left carousel-control-prev" id="prev-event" style="color: black;" type="button"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-angle-right carousel-control-next" id="next-event" style="color: black;" type="button"></i>
                </div>
            </div>
            
            <div class="img-e-detalhes carousel-item">
                <div class="plantio-img"></div>
                <div class="detalhes">
                    <p class="data">SEGUNDA-FEIRA</p>
                    <h1 class="evento" id="event-title" style="font-weight: bold; margin-left: -0.1rem; margin-top: -0.5rem;">EVENTO X</h1>
                    <p class="status-plantio"
                        style="background-color: grey; margin-top: -0.5rem; padding-left: 0.5rem; padding-right: 0.5rem; color: white; text-align: center; border-radius: 1rem; font-size: 0.8rem;">
                        STATUS DO PLANTIO
                    </p>
                </div>
            </div>
            

            <div class="datas-calendario">
                <ul class="calendario-ul">
                    <li class="calendario-li">
                        <div class="calendario-item" id="monday">
                            <p class="data-na-lista">SEG</p>
                            <div class="plantio-img-lista"></div>
                        </div>                        
                    </li>
                    <li class="calendario-li">
                        <div class="calendario-item" id="tuesday">
                            <p class="data-na-lista">TER</p>
                            <div class="plantio-img-lista"></div>
                        </div>
                    </li>
                    <li class="calendario-li">
                        <div class="calendario-item" id="wednesday">
                            <p class="data-na-lista">QUA</p>
                            <div class="plantio-img-lista"></div>
                        </div>
                    </li>
                    <li class="calendario-li">
                        <div class="calendario-item" id="thursday">
                            <p class="data-na-lista">QUI</p>
                            <div class="plantio-img-lista"></div>
                        </div>
                    </li>
                    <li class="calendario-li">
                        <div class="calendario-item" id="friday">
                            <p class="data-na-lista">SEX</p>
                            <div class="plantio-img-lista"></div>
                        </div>
                    </li>
                    <li class="calendario-li">
                        <div class="calendario-item" id="saturday">
                            <p class="data-na-lista">SAB</p>
                            <div class="plantio-img-lista"></div>
                        </div>
                    </li>
                    <li class="calendario-li">
                        <div class="calendario-item" id="sunday">
                            <p class="data-na-lista">DOM</p>
                            <div class="plantio-img-lista"></div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="card shadow-lg" id="clima-card">
            <div class="plantio-e-navigation">

                <p class="plantio">Clima</p>

                <div class="navigation">
                    <i class="fa-solid fa-angle-left"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-angle-right"></i>
                </div>

            </div>

            <div class="img-e-detalhes">

                <div class="plantio-img">
                </div>

                <div class="detalhes">
                    <p class="data">SEGUNDA-FEIRA</p>
                    <h1 class="evento" style="font-weight: bold; margin-left: -0.1rem; margin-top: -0.5rem;">EVENTO X
                    </h1>
                    <p class="status-plantio"
                        style="background-color: grey; margin-top: -0.5rem; padding-left: 0.5rem; padding-right: 0.5rem; color: white; text-align: center; border-radius: 1rem; font-size: 0.8rem;">
                        STATUS DO PLANTIO</p>
                </div>

            </div>

            <div class="datas-calendario-setaBtn">
                <div class="datas-calendario">
                    <ul class="calendario-ul">
                        <li class="calendario-li">
                            <div class="calendario-item">
                                <p class="data-na-lista">TER</p>
                                <div class="plantio-img-lista"></div>
                            </div>
                        </li>
                        <li class="calendario-li">
                            <div class="calendario-item">
                                <p class="data-na-lista">TER</p>
                                <div class="plantio-img-lista"></div>
                            </div>
                        </li>
                        <li class="calendario-li">
                            <div class="calendario-item">
                                <p class="data-na-lista">TER</p>
                                <div class="plantio-img-lista"></div>
                            </div>
                        </li>
                        <li class="calendario-li">
                            <div class="calendario-item">
                                <p class="data-na-lista">TER</p>
                                <div class="plantio-img-lista"></div>
                            </div>
                        </li>
                        <li class="calendario-li">
                            <div class="calendario-item">
                                <p class="data-na-lista">TER</p>
                                <div class="plantio-img-lista"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="" class="seta-btn" style="transform: rotate(225deg);"><i class="fa-solid fa-arrow-down" style="font-size: 2rem; color: white;"></i>
                </a>
            </div>

        </div>
    </div>

    <div class="btns-holder">
        <a class="gerenciar-culturas btn" href="{% url 'site_cc:calendar' %}">
            <i class="bi bi-pencil-square" style="margin-right: 1rem;"></i> Gerenciar Culturas
        </a>
        <div class="botoes-debaixo">
            <a class="reportar-pragas btn" href="{% url 'site_cc:praga' %}" name="pragas"><i class="bi bi-exclamation-triangle" style="margin-right: 0.5rem;"></i> Reportar Pragas</a>
            
        </div>
    </div>

</div>

{% endblock %}


{% block extrascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const prevButton = document.getElementById("prev-event");
        const nextButton = document.getElementById("next-event");
        const eventTitle = document.getElementById("event-title");
        const statusElement = document.querySelector(".status-plantio");
        const dataElement = document.querySelector(".data");

        // Dias da semana
        const daysOfWeek = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];
        const dayAbbreviations = ["DOM", "SEG", "TER", "QUA", "QUI", "SEX", "SAB"]; // Apenas abreviações
        const dayElements = Array.from(document.querySelectorAll(".data-na-lista")); // Seleciona as bolinhas na ordem DOM

        // Índices e eventos
        let eventsByDay = {};
        let todayIndex = new Date().getDay(); // Índice do dia atual (0 = Domingo, 1 = Segunda, etc.)
        let selectedDay = 0; // Começa com o dia atual (primeira bolinha)
        let currentEventIndex = 0;

        // Reorganizar os dias da semana para começar com o dia atual
        const reorderedDays = [...daysOfWeek.slice(todayIndex), ...daysOfWeek.slice(0, todayIndex)];
        const reorderedDayAbbreviations = [...dayAbbreviations.slice(todayIndex), ...dayAbbreviations.slice(0, todayIndex)];

        // Atualizar as bolinhas para exibir os próximos 7 dias
        dayElements.forEach((el, index) => {
            const dayIndex = index % reorderedDayAbbreviations.length;
            el.textContent = reorderedDayAbbreviations[dayIndex]; // Apenas a abreviação
        });

        const updateEventTitleAndStatus = () => {
            const currentDay = reorderedDays[selectedDay];
            const events = eventsByDay[currentDay] || [];
            if (events.length > 0) {
                const event = events[currentEventIndex];
                eventTitle.textContent = event?.title || "Nenhum.";

                // Atualizar o status do evento
                const today = new Date().toISOString().split("T")[0];
                if (today > event.end_time.split("T")[0]) {
                    statusElement.textContent = "Concluído";
                    statusElement.style.backgroundColor = "green";
                } else if (today === event.end_time.split("T")[0]) {
                    statusElement.textContent = "Pronto para colher";
                    statusElement.style.backgroundColor = "blue";
                } else if (today >= event.start_time.split("T")[0] && today < event.end_time.split("T")[0]) {
                    statusElement.textContent = "Em Andamento";
                    statusElement.style.backgroundColor = "orange";
                } else if (today < event.start_time.split("T")[0]) {
                    statusElement.textContent = "Agendado";
                    statusElement.style.backgroundColor = "purple";
                }
            } else {
                eventTitle.textContent = "Nenhum.";
                statusElement.textContent = "Sem eventos";
                statusElement.style.backgroundColor = "gray";
            }
        };

        const highlightDay = () => {
            dayElements.forEach((el, index) => {
                if (index === selectedDay) {
                    el.parentElement.classList.add("selected-day"); // Destaca a bolinha correspondente
                } else {
                    el.parentElement.classList.remove("selected-day");
                }
            });
        };

        const updateSelectedDayText = () => {
            dataElement.textContent = reorderedDayAbbreviations[selectedDay];
        };

        dayElements.forEach((el, index) => {
            el.parentElement.addEventListener("click", () => {
                selectedDay = index;
                currentEventIndex = 0; // Reinicia no primeiro evento do dia
                highlightDay();
                updateEventTitleAndStatus();
                updateSelectedDayText();
            });
        });

        fetch("/api/events/")
            .then(response => response.json())
            .then(data => {
                eventsByDay = data.reduce((acc, event) => {
                    const startDate = new Date(event.start_time);
                    const endDate = new Date(event.end_time);

                    let currentDate = new Date(startDate.setHours(0, 0, 0, 0));
                    const normalizedEndDate = new Date(endDate.setHours(0, 0, 0, 0));

                    while (currentDate <= normalizedEndDate) {
                        const dayOfWeek = currentDate.getDay();
                        const dayName = daysOfWeek[dayOfWeek];
                        if (!acc[dayName]) acc[dayName] = [];
                        if (!acc[dayName].some(e => e.id === event.id)) {
                            acc[dayName].push(event);
                        }
                        currentDate = new Date(currentDate.setDate(currentDate.getDate() + 1));
                    }

                    return acc;
                }, {});
                highlightDay();
                updateEventTitleAndStatus();
                updateSelectedDayText();
            })
            .catch(error => console.error("Erro ao carregar eventos:", error));

        prevButton.addEventListener("click", () => {
            const currentDay = reorderedDays[selectedDay];
            const events = eventsByDay[currentDay] || [];
            if (events.length > 0) {
                currentEventIndex = (currentEventIndex - 1 + events.length) % events.length;
                updateEventTitleAndStatus();
            }
        });

        nextButton.addEventListener("click", () => {
            const currentDay = reorderedDays[selectedDay];
            const events = eventsByDay[currentDay] || [];
            if (events.length > 0) {
                currentEventIndex = (currentEventIndex + 1) % events.length;
                updateEventTitleAndStatus();
            }
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const prevWeatherButton = document.querySelector("#clima-card .fa-angle-left");
        const nextWeatherButton = document.querySelector("#clima-card .fa-angle-right");
        const weatherTitle = document.querySelector("#clima-card .evento");
        const weatherStatus = document.querySelector("#clima-card .status-plantio");
        const weatherDataElement = document.querySelector("#clima-card .data");

        // Criação do ícone dinâmico (usando <i>)
        const weatherIcon = document.createElement("i");
        weatherIcon.style.marginLeft = "10px";
        weatherIcon.style.fontSize = "1.5rem";
        weatherTitle.parentNode.insertBefore(weatherIcon, weatherTitle.nextSibling);

        // Dias da semana
        const daysOfWeek = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];
        const dayAbbreviations = ["DOM", "SEG", "TER", "QUA", "QUI", "SEX", "SAB"];
        let selectedDayIndex = 0;
        let weatherData = [];

        // Reorganizar dias para começar no dia atual
        const todayIndex = new Date().getDay();
        const reorderedDays = [...daysOfWeek.slice(todayIndex), ...daysOfWeek.slice(0, todayIndex)];
        const reorderedAbbreviations = [...dayAbbreviations.slice(todayIndex), ...dayAbbreviations.slice(0, todayIndex)];

        // Função para determinar a classe do ícone baseado na descrição do clima
        const getWeatherIconClass = (descricao) => {
            if (!descricao) return "bi bi-question-circle"; // Ícone padrão para dados desconhecidos

            const description = descricao.toLowerCase();
            if (description.includes("sol") || description.includes("ensolarado")) {
                return "bi bi-sun"; // Ícone de sol
            } else if (description.includes("Possibilidade de chuva irregular") && description.includes("irregular")) {
                return "bi bi-cloud-sun-rain"; // Ícone de sol com nuvem e chuva
            } else if (description.includes("Encoberto") || description.includes("Nublado")) {
                return "bi bi-cloud"; // Ícone de nuvem
            } else if (description.includes("Névoa")) {
                return "bi bi-cloud"; // Ícone de nuvem
            } else if (description.includes("chuva")) {
                return "bi bi-cloud-rain"; // Ícone de chuva
            } else if (description.includes("Possibilidade de neve irregular")|| description.includes("Possibilidade de garoa congelante irregular")) {
                return "bi bi-snow"; // Ícone de neve
            } else if (description.includes("Possibilidade de trovoadas")) {
                return "bi bi-cloud-lightning-rain"; // Ícone de tempestade
            } else if (description.includes("Possibilidade de chuva congelante irregular")){
                return "bi bi-snow";
            }

            return "bi bi-question-circle"; // Ícone padrão para descrições desconhecidas
        };

        // Atualizar os detalhes do clima exibidos no card
        const updateWeatherDetails = () => {
            const currentWeather = weatherData[selectedDayIndex] || {};
            
            // Atualizar o título com a temperatura
            weatherTitle.textContent = currentWeather.temperatura_max
                ? `${currentWeather.temperatura_max}°C`
                : "--°C";

            // Atualizar o ícone com a classe correta
            weatherIcon.className = getWeatherIconClass(currentWeather.descricao);

            // Atualizar o modal azul com a descrição do clima
            weatherStatus.textContent = currentWeather.descricao || "Sem dados disponíveis";
            weatherStatus.style.backgroundColor = currentWeather.is_critical ? "red" : "blue";

            // Atualizar o campo de data (exibido acima do card)
            weatherDataElement.textContent = reorderedAbbreviations[selectedDayIndex];
        };

        // Navegar para o dia anterior
        prevWeatherButton.addEventListener("click", () => {
            selectedDayIndex = (selectedDayIndex - 1 + reorderedDays.length) % reorderedDays.length;
            updateWeatherDetails();
        });

        // Navegar para o próximo dia
        nextWeatherButton.addEventListener("click", () => {
            selectedDayIndex = (selectedDayIndex + 1) % reorderedDays.length;
            updateWeatherDetails();
        });

        // Buscar os dados de clima da API
        fetch("/api/weather/")
            .then(response => response.json())
            .then(data => {
                // Organizar os dados para os dias da semana
                weatherData = reorderedDays.map(day => data.find(item => item.day === day) || {});
                updateWeatherDetails();
            })
            .catch(error => {
                console.error("Erro ao carregar dados de clima:", error);
                weatherTitle.textContent = "Erro ao carregar dados";
                weatherStatus.textContent = "Verifique sua conexão ou tente novamente mais tarde.";
                weatherStatus.style.backgroundColor = "gray";
            });
    });




        


    </script>
{% endblock extrascripts %}