{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    body {
        background-color: #f5f5f5;
    }

    .hold-evr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: #333;
        width: 100%;
        margin-top: 6rem;
        margin-bottom: 2rem;
    }

    .cards-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .ul-cards {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 45px !important;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .card:hover {
        transform: scale(1.03);
    }

    p {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .avancar-btn {
        width: 30%;
        border-radius: 20px !important;
        color: white !important;
        background-color: #4D933E !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        margin-top: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .avancar-btn:hover {
        background-color: #27511b !important;
        box-shadow: none !important;
    }

    .selected-card {
        border: 2px solid #4D933E;
        box-shadow: 0 6px 15px rgba(77, 147, 62, 0.4);
        transform: scale(1.05);
    }
</style>
{% endblock extracss %}

{% block content %}
<div class="hold-evr">

    <div class="info-box">
        <h1 style="font-size: 4rem; font-weight: bold; color: #316722;">
            <i class="app-menu__icon fa fa-bug" style="margin-right: 3rem; margin-bottom: 1rem;"></i>
            Reportar pragas
        </h1>
        Selecione o plantio que está sendo afetado:
    </div>

    <div class="card-holder">
        <ul class="ul-cards">
            <li class="li-cards">
                <a class="a-cards" data-plantio="Tomate">
                    <a href="{% url 'site_cc:detalhes_problema' %}?plantio=Tomate">
                    <div class="card" name="tomate">
                        
                        <img class="plantio-img" src="{% static 'images/Rectangle 152.png' %}" alt="">
                        <p style="margin-top: 1rem;">
                            <i class="bi bi-circle-fill" style="margin-right: 0.5rem; font-size: 0.8rem; color: red;"></i>
                            <span>Tomate</span>
                        </p>
                        
                    </div>
                    </a>
                </a>
            </li>
            <li class="li-cards">
                <a class="a-cards" data-plantio="Batata">
                    <a href="{% url 'site_cc:detalhes_problema' %}?plantio=Batata">
                    <div class="card" name="Batata">
                        
                        <img class="plantio-img" src="{% static 'images/Rectangle 151.png' %}" alt="">
                        <p style="margin-top: 1rem;">
                            <i class="bi bi-circle-fill" style="margin-right: 0.5rem; font-size: 0.8rem; color: yellow;"></i>
                            <span>Batata</span>
                        </p>
                        
                    </div>
                    </a>
                </a>
            </li>
            <li class="li-cards">
                <a class="a-cards" data-plantio="Alface">
                    <a href="{% url 'site_cc:detalhes_problema' %}?plantio=Alface">
                    <div class="card" name="Alface">
                        <img class="plantio-img" src="{% static 'images/Rectangle 150.png' %}" alt="">
                        <p style="margin-top: 1rem;">
                            <i class="bi bi-circle-fill" style="margin-right: 0.5rem; font-size: 0.8rem; color: green;"></i>
                            <span>Alface</span>
                        </p>
                    </div>
                    </a>
                </a>
            </li>
            <li class="li-cards">
                <a class="a-cards" data-plantio="Cenoura">
                    <a href="{% url 'site_cc:detalhes_problema' %}?plantio=Cenoura">
                    <div class="card" name="cenoura">
                        <img class="plantio-img" src="{% static 'images/Rectangle 149.png' %}" alt="">
                        <p style="margin-top: 1rem;">
                            <i class="bi bi-circle-fill" style="margin-right: 0.5rem; font-size: 0.8rem; color: purple;"></i>
                            <span>Cenoura</span>
                        </p>
                    </div>
                    </a>
                </a>
            </li>
            <li class="li-cards">
                <a class="a-cards" data-plantio="Rúcula">
                    <a href="{% url 'site_cc:detalhes_problema' %}?plantio=Rucula">
                    <div class="card" name="rucula">
                        
                        <img class="plantio-img" src="{% static 'images/Rectangle 148.png' %}" alt="">
                        <p style="margin-top: 1rem;">
                            <i class="bi bi-circle-fill" style="margin-right: 0.5rem; font-size: 0.8rem; color: blue;"></i>
                            <span>Rúcula</span>
                        </p>
                    </div>
                </a>
                </a>
            </li>
        </ul>
    </div>

   

</div>
{% endblock content %}

